body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}
#apps{
    width:100%;
    height: 800px;
    background-color: antiquewhite;
}
#games{
    width: 100%;
    height: 800px;
    background-color: burlywood;
}
#chatbot{
    width: 100%;
    height: 800px;
    background-color: coral;
}
img{
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}
.line{
    height: 6px;
    background-color: #000;
    width:70px;
    margin: 8px auto;
}
#myCarousel{
    background-color: burlywood;
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: coral;
    font-size: 20px;
}
#Music{
    height: 170;
}